<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="http://localhost:8081/users/show-all-users">
    <input type="submit" value="Show all users"/>
</form>
<form action="http://localhost:8081/users/create">
    <input type="submit" value="Create user"/>
</form>
<form action="http://localhost:8081/exchange/get">
    <input type="submit" value="Show exchange"/>
</form>
<form action="http://localhost:8081/logout">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>