<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<main role="main" class="container">
    <table>
        <thead>
        <tr>
            <th> Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person : ${persons}">
            <td><span th:text="${person.name}"> Name </span></td>
        </tr>
        </tbody>
    </table>
    <form action="http://localhost:8081/index">
        <input type="submit" value="Back to index" />
    </form>
    </form><form action="http://localhost:8081/logout">
    <input type="submit" value="Logout" />
</form>
</main>
</body>
</html>